body,
html {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  border: 0;
  background: #e8e8e8;
}

.MuiTableSortLabel-iconDirectionAsc {
  visibility: visible !important;
  display: block !important;
  opacity: 0.1 !important;
}
